[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]


# Added by buildout at 2020-09-25 16:00:14.123044
collective.elasticsearch = 3.0.4
collective.recipe.vscode = 0.1.6
createcoverage = 1.5
dnspython = 2.0.0
elasticsearch = 6.8.1
email-validator = 1.1.1
fhir.resources = 6.0.0b4
fhirspec = 0.2.3
flake8 = 3.8.3
flake8-blind-except = 0.1.1
flake8-coding = 1.3.2
flake8-commas = 2.0.0
flake8-debugger = 3.2.1
flake8-deprecated = 1.3
flake8-isort = 4.0.0
flake8-pep3101 = 1.3.0
flake8-plone-api = 1.4
flake8-plone-hasattr = 0.2.post0
flake8-print = 3.1.4
flake8-quotes = 3.2.0
flake8-string-format = 0.3.0
flake8-todo = 0.7
isort = 5.5.3
jsonpointer = 2.0
keyring = 21.4.0
mccabe = 0.6.1
plone.app.fhirfield = 4.1.0
plone.recipe.codeanalysis = 3.0.1
prompt-toolkit = 1.0.18
pycodestyle = 2.6.0
pydantic = 1.6.1
pyflakes = 2.2.0
pyroma = 2.6
sphinxcontrib-httpexample = 0.10.3
testfixtures = 6.14.2

# Required by:
# sphinxcontrib-httpexample==0.10.3
astunparse = 1.6.3

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.43

# Required by:
# fhirpath==0.7.2.dev42+g7be895e
isodate = 0.6.0

# Required by:
# fhirpath==0.7.2.dev42+g7be895e
# plone.app.fhirfield==4.1.0
jsonpatch = 1.26

# Required by:
# fhir.resources==6.0.0b4
orjson = 3.3.1

# Required by:
# sphinxcontrib-httpexample==0.10.3
sphinxcontrib-httpdomain = 1.7.0

# Required by:
# prompt-toolkit==1.0.18
wcwidth = 0.2.5

# Added by buildout at 2020-09-25 16:30:16.643606
fhirpath = 0.8.0
